.header{
    width: 100%;
    
}
.container{
    margin: 0 auto;
    max-width: 800px;
}

font{
    font-family: "chunk",serif;
    font-style: normal;
    font-weight: 400;
}
.navigation{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.navigation > ul{
    padding-left: 0px;
}
.navigation > ul > li{
    display: inline;

}
ul {
    list-style-type: none;
    
}

a {
    display: inline-flex;
    color:#D85A93;
    font-size: 200%;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "chunk",serif;
}
img{
    max-width:100%;
    max-height:100%;
}
.footer{
	margin: 0 auto;
	text-align: center;
	display: inline;
}
.footer > hr{
    max-width: 700px;
    border-color: #0000001a;
}
hr{
    border-color: #0000001a;
    width: 100%;
    margin-bottom: 50px;
	margin-top: 10px;

}
.socialbuttoms {
    margin: 0 auto;
    text-align: center;
}
.socialbuttoms > a {
    padding: 0%;

}
.socialbuttoms > a > img {
    height: 50%;
    width: 50%;
}
h1{
    font-family: "chunk",serif;
    color:#df6b41;
    font-size: -webkit-xxx-large;
    margin-bottom: 0px;

}
p, time, span, h3{
    font-family: 'Dosis', sans-serif;
    color: rgba(145,145,145,1);
    size: 16px;
}
.postfooter {
    position: relative;
}
.nextbutton {
    position: absolute;
    right: 10px;
    font-size: 25px;
}
.previousbutton {
    position: absolute;
    left: 10px;
    font-size: 25px;
}